
<div class="hero-unit">
<h1>Welcome to one month rails</h1>
<p>You have found the home page for the 
	<%= link_to "One Month Rails", "http://www.yarcov.com"     %>
 </p>
<p>
	<%= link_to "Sign Up now!", "#", class: "btn btn-large btn-primary" %>
<p>
</div>

